/* Accessibility Color Variables */

$main-theme: #005eaa;
$main-theme-dark: #004f8f;
$main-theme-darker: #004175;
$main-theme-light: #88c3ea;
$main-theme-lighter: #c0e9ff;

$gray-dark: #555555;
$gray-darker: #333333;
$gray-light: #e0e0e0;
$gray-lighter: #f0f0f0;

$primary-blue: #005eaa;
$primary-amber: #fbab18;
$primary-brown: #705043;
$primary-cyan: #006778;
$primary-green: #497d0c;
$primary-indigo: #26418f;
$primary-orange: #bb4d00;
$primary-pink: #af4448;
$primary-purple: #712177;
$primary-slate: #29434e;
$primary-teal: #00695c;

$secondary-blue: #88c3ea;
$secondary-amber: #ffd54f;
$secondary-brown: #ad907b;
$secondary-cyan: #65b0bd;
$secondary-green: #84bc49;
$secondary-indigo: #92a6dd;
$secondary-orange: #ffad42;
$secondary-pink: #e57373;
$secondary-purple: #b890bb;
$secondary-slate: #7e9ba5;
$secondary-teal: #4ebaaa;

$tertiary-amber: #ffecb3;
$tertiary-blue: #a7e0ff;
$tertiary-brown: #d7ccc8;
$tertiary-cyan: #cce5e9;
$tertiary-green: #dcedc8;
$tertiary-indigo: #dee8ff;
$tertiary-orange: #ffe97d;
$tertiary-pink: #ffc2c2;
$tertiary-purple: #e3d3e4;
$tertiary-slate: #b6c6d2;
$tertiary-teal: #ceece7;

$quaternary-amber: #fff7e1;
$quaternary-blue: #edf9ff;
$quaternary-brown: #f2ebe8;
$quaternary-cyan: #ebf5f6;
$quaternary-green: #f1f8e9;
$quaternary-indigo: #f2f6ff;
$quaternary-orange: #fff4cf;
$quaternary-pink: #ffe7e7;
$quaternary-purple: #f7f2f7;
$quaternary-slate: #e2e8ed;
$quaternary-teal: #ebf7f5;

$success: #f1f8e9;
$success-dark: #497d0c;
$error: #ffe7e7;
$error-dark: #af4448;
$warning: #fff4cf;
$warning-dark: #bb4d00;
$warning-dark-alt: #fbab18;
$info: #f5f5f5;
$info-dark: #555555;
$busy: #edf9ff;
$busy-dark: #005eaa;
