@use "colors";

$base-btn-palette: (
  "amber": colors.$primary-amber,
  "blue": colors.$primary-blue,
  "brown": colors.$primary-brown,
  "cyan": colors.$primary-cyan,
  "green": colors.$primary-green,
  "indigo": colors.$primary-indigo,
  "orange": colors.$primary-orange,
  "pink": colors.$primary-pink,
  "purple": colors.$primary-purple,
  "slate": colors.$primary-slate,
  "teal": colors.$primary-teal,
);

$tertiary-btn-palette: (
  "amber": colors.$tertiary-amber,
  "blue": colors.$tertiary-blue,
  "brown": colors.$tertiary-brown,
  "cyan": colors.$tertiary-cyan,
  "green": colors.$tertiary-green,
  "indigo": colors.$tertiary-indigo,
  "orange": colors.$tertiary-orange,
  "pink": colors.$tertiary-pink,
  "purple": colors.$tertiary-purple,
  "slate": colors.$tertiary-slate,
  "teal": colors.$tertiary-teal,
);

$status-palette: (
  "success": colors.$success,
  "error": colors.$error,
  "warning": colors.$warning,
  "info": colors.$info,
  "busy": colors.$busy,
);

$status-dark-palette: (
  "success": colors.$success-dark,
  "error": colors.$error-dark,
  "warning": colors.$warning-dark,
  "info": colors.$info-dark,
  "busy": colors.$busy-dark,
);
