$font-size-h1: 2.25rem;
$font-size-h2: 1.85rem;
$font-size-h3: 1.6rem;
$font-size-h4: 1.26rem;
$font-size-h5: 1.13rem;
$font-size-h6: 0.95rem;

$font-size-large: $font-size-h5;
$font-size-base: 1rem;
$font-size-base-px: 17px;
$font-size-medium: $font-size-h6;
$font-size-small: 0.9rem;
$font-size-xsmall: 0.8rem;

$font-weight-extrabold: 800;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 200;

$font-family-sans: "Open Sans", sans-serif;