@use "uswds-core" with (
  $theme-show-notifications: false,
  $theme-font-sans-custom-src: (
    dir: "src/fonts",
    roman: (
      100: false,
      200: "opensans-light-webfont",
      300: false,
      400: "opensans-regular-webfont",
      500: "opensans-medium-webfont",
      600: "opensans-semibold-webfont",
      700: "opensans-bold-webfont",
      800: "opensans-extrabold-webfont",
      900: false,
    ),
    italic: (
      100: false,
      200: "opensans-lightitalic-webfont",
      300: false,
      400: "opensans-italic-webfont",
      500: "opensans-mediumitalic-webfont",
      600: "opensans-semibolditalic-webfont",
      700: "opensans-bolditalic-webfont",
      800: "opensans-extrabolditalic-webfont",
      900: false,
    ),
  ),
  $theme-typeface-tokens: (
    "open-sans": (
      "display-name": "Open Sans",
      "cap-height": 364px,
      "stack": "sans-serif",
    ),
  ),
  $theme-font-type-sans: "open-sans"
);
