@import "colors";
@import "typography";
@import "palettes";
@import "mixins";

*,
html,
body {
  font-size: 17px;
  box-sizing: border-box;
  font-family: "Open Sans-Regular", Helvetica;
  letter-spacing: 0.1rem;
  font-weight: 520;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.85rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.26rem;
}

h5 {
  font-size: 1.13rem;
}

.cdc-react {
  &.btn-wrap {
    min-width: 2.58824rem;
    min-height: 2.58824rem;
    width: auto;
    height: auto;
    display: inline-block;
  }
}
