@forward "uswds-theme";
@forward "fonts";
@forward "colors";
@forward "typography";
@forward "palettes";
@forward "mixins";

@use "typography";

* {
  box-sizing: border-box;
}

body {
  font-size: typography.$font-size-base-px;
  font-family: typography.$font-family-sans;
  font-weight: typography.$font-weight-regular;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: typography.$font-size-h1;
}

h2 {
  font-size: typography.$font-size-h2;
}

h3 {
  font-size: typography.$font-size-h3;
}

h4 {
  font-size: typography.$font-size-h4;
}

h5 {
  font-size: typography.$font-size-h5;
}

.cdc-react {
  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}
