.cdc-react.table {
  .table-header-checkbox,
  .table-data-cell-checkbox {
    width: 4%;
    text-overflow: ellipsis;
    padding: 0.5rem;
  }

  .table-header-filename,
  .table-data-cell-filename {
    width: 14%;
    text-overflow: ellipsis;
    padding: 0.5rem;
  }

  .table-header-event,
  .table-data-cell-event {
    width: 14%;
    text-overflow: ellipsis;
    padding: 0.5rem;
  }

  .table-header-upload-status,
  .table-data-cell-upload-status {
    width: 18%;
    text-overflow: ellipsis;
    padding: 0.5rem;
  }

  .table-header-submitted,
  .table-data-cell-submitted {
    width: 14%;
    text-overflow: ellipsis;
    padding: 0.5rem;
  }

  .table-header-details,
  .table-data-cell-details {
    width: 10%;
    text-overflow: ellipsis;
    padding: 0.5rem;
  }
}
