.cdc-react .profile-header .profile-header-menu-item {
    justify-content: end;
    flex-grow: 1;
}

.cdc-react .profile-header .profile-header-menu-item {
    border-radius: 0.4rem;
    border: none;
    display: flex;
    padding: 0.5rem 0.75rem;
    background: transparent;
    align-items: center;
    justify-content: center;
}

.cdc-react .profile-header button.profile-header-menu-item:hover {
    background: #e6e6e6;
}

.cdc-react .profile-header .profile-header-menu-item .user-profile:hover {
    background: none;
}

.cdc-react .profile-header .profile-header-menu-item .user-profile {
    flex-grow: 0;
}

.cdc-react .profile-header .profile-header-menu-item.user-profile .user-image {
    align-items: center;
    padding: 0rem;
}

.cdc-react .profile-header .profile-header-menu-item.user-profile .chevron-down {
    margin-right: -0.4rem;
}

.cdc-react .profile-header-menu-items {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.cdc-react .profile-header-menu-item.hide-on-mobile {
    display: none;
}


@media (min-width: 600px) {
    .cdc-react .profile-header-menu-item.hide-on-mobile {
        display: flex;
    }

    .cdc-react .profile-header-menu-item.hide-on-mobile {
        display: flex;
    }
}