@use "../../../scss/global.scss";
@use "uswds-core" as *;

.cdc-react.table {
  th {
    height: units(5);
    display: flex;
    flex-direction: row;
    border: solid 1px global.$gray-light;
    background-color: global.$gray-lighter;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    span {
      flex-grow: 2;
      font-weight: bold;
      font-size: 0.825rem;
      padding-left: units("105");
    }

    svg {
      margin-left: units("105");
    }
  }
}
