@use "../../scss/global.scss";
@use "uswds-core" as *;

.cdc-react.pill {
  display: inline-flex;
  align-items: center;
  min-width: units(4);
  height: units(4);
  padding: units(0.5);

  &.filled {
    &.primary {
      background-color: global.$main-theme;
      color: white;
    }

    @include global.create-pill-filled(
      global.$status-palette,
      global.$status-dark-palette
    );
  }

  &.outline {
    &.primary {
      background-color: transparent;

      border: 1px solid global.$main-theme;
      color: global.$main-theme;
    }

    @include global.create-pill-outline(global.$status-dark-palette);
  }

  &.toggle {
    cursor: pointer;

    &.primary {
      background-color: transparent;
      color: global.$main-theme;
      border: 1px solid global.$main-theme;

      &:hover {
        background-color: #dff4ff;
      }

      &.active {
        background-color: global.$main-theme;
        color: white;
      }

      &.active:hover {
        background-color: global.$main-theme-dark;
        border-color: global.$main-theme-dark;
      }
    }

    @include global.create-pill-toggle(global.$status-dark-palette);

    &.inverse {
      background-color: transparent;
      color: global.$main-theme-lighter;
      border: 1px solid global.$main-theme-lighter;

      &:hover {
        background-color: global.$gray-dark;
        border-color: global.$main-theme-lighter;
        color: global.$main-theme-lighter;
      }

      &.active {
        background-color: global.$main-theme-lighter;
        color: global.$gray-darker;
      }

      &.active:hover {
        background-color: global.$gray-lighter;
        border-color: global.$gray-lighter;
      }
    }
  }

  &.inverse {
    background-color: global.$main-theme-lighter;
    border-color: global.$main-theme-lighter;
    color: global.$gray-darker;

    &.outline {
      background-color: transparent;
      border: 1px solid global.$main-theme-lighter;
      color: global.$main-theme-lighter;
    }
  }

  .img-container {
    display: flex;
    border-radius: 50%;
    overflow: hidden;

    img {
      height: units(3);
    }
  }

  .pill-delete-btn {
    height: 100%;
  }
}

.slot {
  border-radius: 50px;
}

.roundCorners {
  border-radius: 4px;
}

.label {
  padding: units(0.5);
}

.truncate {
  max-width: units("card-lg");
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
