@use "../../scss/global.scss";
@use "uswds-core" as *;

.cdc-react {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  min-width: units(4);
  min-height: units(4);
}

.slot {
  border-radius: 50px;
}

.roundCorners {
  border-radius: 4px;
}

.active {
  background-color: black;
  color: white;
}

.content {
  padding: units(1);
}

.truncate {
  max-width: units("card-lg");
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  background-color: white;
}

button:hover {
  background-color: #f5f5f5;
}
