@use "../../scss/global.scss";
@use "uswds-core" as *;

.cdc-react {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.slot {
  border-radius: 50px;
}

.roundCorners {
  border-radius: 4px;
}

.content {
  padding: units(1);
}
