.cdc-react {
  .profile-header-popup {
    display: flex;
    width: 14.16rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.236rem;
    border: 0.1rem solid #e0e0e0;
    background: #fff;
    box-shadow: 0rem 0rem 0.7rem 0rem rgba(0, 0, 0, 0.1);
  }

  .profile-header-popup button.profile-header-popup-menu-item {
    flex-direction: row;
    display: flex;
    min-width: 100%;
    min-height: 2.95rem;
    align-items: center;
    align-self: stretch;
    background: transparent;
    border: none;
  }

  .profile-header-popup button.profile-header-popup-menu-item:hover {
    background: #e6e6e6;
  }

  .profile-header-popup button.profile-header-popup-menu-item:last-child {
    border-top: solid 0.1rem #ddd;
  }

  .profile-header-popup button.profile-header-popup-menu-item svg {
    margin-right: 0.12rem;
    margin-left: 0.47rem;
  }

  .notification-count {
    flex-grow: 1;
    justify-content: end;
  }

  .notification-count text {
    display: flex;
    stroke: #fff;
    font-size: 0.6rem;
  }

  .profile-header-popup-menu-item .profile-header-popup-menu-item-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .profile-header-popup-menu-item .profile-header-popup-menu-item-center {
    display: flex;
    justify-content: start;
    flex-grow: 10;
    font-size: 0.8rem;
  }

  .profile-header-popup-menu-item .profile-header-popup-menu-item-right {
    display: flex;
    margin-left: -1.9175rem;
  }
}
