@import '../../scss/global.scss';

.cdc-react {
  .profile-header {
    display: flex;
    height: 6rem;
    padding: 0rem 0.4rem;
    align-items: center;
    gap: 1.2rem;
    border-bottom: 0.1rem solid #e0e0e0;
    background: #f0f0f0;
  }
}
