.cdc-react .profile-header {
    display: flex;
    height: 6rem;
    padding: 0rem 0.4rem;
    align-items: center;
    gap: 1.2rem;
    border-bottom: 0.1rem solid #E0E0E0;
    background: #F0F0F0;
}
