@import "../../scss/global.scss";

.cdc-react {
  .profile-header {
    display: flex;
    height: 3.54rem;
    padding: 0rem 0.236rem;
    align-items: center;
    gap: 0.7rem;
    border-bottom: 0.1rem solid #e0e0e0;
    background: #f0f0f0;
  }
}
