@use "../../scss/global.scss";
@use "uswds-core" as *;

.cdc-react {
  .usa-alert.fluid {
    max-width: initial;
  }

  .usa-alert.left-align .usa-alert__body {
    margin-left: 0;
  }

  .usa-alert {
    border-left: none;
    border-top-width: units(1);
    border-top-style: solid;
    border-radius: units(0.5) units(0.5) 0 0;
    max-width: units("desktop");

    a,
    .usa-alert__body,
    .usa-alert__text {
      font-family: "Open Sans";
      font-size: 1.0625rem;
      line-height: line-height("sans", 3);
    }
    .usa-alert__heading {
      font-family: "Open Sans Bold";
      font-size: 1.20063rem;
      line-height: line-height("sans", 3);
    }
  }

  .usa-alert--info {
    border-top-color: global.$busy-dark;
    background-color: global.$busy;
    .usa-alert__body {
      background-color: global.$busy;
    }
  }

  .usa-alert--warning {
    border-top-color: global.$warning-dark-alt;
    background-color: global.$warning;
    .usa-alert__body {
      background-color: global.$warning;
    }
  }

  .usa-alert--error {
    border-top-color: global.$error-dark;
    background-color: global.$error;
    .usa-alert__body {
      background-color: global.$error;
    }
  }

  .usa-alert--success {
    border-top-color: global.$success-dark;
    background-color: global.$success;
    .usa-alert__body {
      background-color: global.$success;
    }
  }

  .usa-alert--emergency {
    border-top-color: global.$error-dark;
    background-color: global.$error-dark;
    .usa-alert__body {
      background-color: global.$error-dark;
    }
    a {
      color: white;
    }
    a:hover {
      // Todo: Add a :hover color for emergency alert
    }
  }
  .usa-alert--emergency {
    // Reduce top border for emergency alert since the border and background are the same
    // which makes it appear to have too much padding above the alert heading and body
    border-top-width: units(0.5);
  }
}
