@use "../../scss/global.scss";

.cdc-react {
  .profile-header {
    display: flex;
    height: 3.54rem;
    padding: 0rem 0.236rem;
    align-items: center;
    gap: 0.7rem;
    border-bottom: 0.1rem solid #e0e0e0;
    background: #f0f0f0;

    .profile-header-menu {
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
    }
  }

  .profile-header-popup-wrap {
    position: absolute;
    top: 2.6875rem;
    right: 2.6rem;
    display: none;

    &.profile-header-popup-wrap-show {
      display: flex;
    }
  }
}
