@use "../../scss/global.scss";
@use "uswds-core" as *;

.cdc-react {
  .profile-header {
    font-family: global.$font-family-sans;
    display: flex;
    height: units(7);
    padding: 0 units(0.5);
    align-items: center;
    gap: units(1);
    border-bottom: 0.1rem solid #e0e0e0;
    background: #f0f0f0;
    width: 100%;

    .profile-header-menu {
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
    }

    li::marker {
      content: "";
    }
  }

  .profile-header-popup-wrap {
    position: absolute;
    top: units(6);
    right: units(5);
    display: none;

    &.profile-header-popup-wrap-show {
      display: flex;
    }
  }
}
