@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
*,
html,
body {
  --main-theme: #005eaa;
  --main-light: #88c3ea;
  --main-lighter: #c0e9ff;
  --indigo: #26418f;
  --heading-xl: 3.1rem;
  font-size: 10px;
  box-sizing: border-box;
}
.overline {
  font-family: Public Sans;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.2rem */
  letter-spacing: 0.16rem;
  text-transform: uppercase;
}
