.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}
.sidebar .menu_item {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-top: 1px solid gray;
  color: #FFF;
}
.sidebar .menu_footer {
  color: #FFF;
  margin-top: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
}
.sidebar .menu_footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar .menu_footer ul li {
  display: flex;
  align-items: left;
  padding: 16px 0px;
}
.sidebar .text {
  margin-left: 12px;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 1.94px;
  line-height: 2.5rem;
}
.sidebar .icon svg path {
  stroke: #FFF;
}
.sidebar .menu_footer ul li .icon {
  width: 24px;
  height: 26px;
  color: #FFF;
}
.sidebar-collapsed .menu_footer ul li .text {
  visibility: hidden;
}

.sidebar-full {
  background: var(
    --main-gradient,
    linear-gradient(225deg, #005eaa 0%, #26418f 100%)
  );
  position: fixed;
  width: 204px;
  height: 100%;
  flex: 0 0 calc(10px + 100px);
  display: flex;
  flex-direction: column;
}
.sidebar-full .menu_header {
  padding: 8px 16px;
}
.sidebar-full .menu_header button {
  width: 28px;
  height: 24px;
  padding: 0;
  margin: 8px;
  font-size: 10px;
}
.sidebar-full .menu_item {
  height: 100%;
}
.sidebar .menu_item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar .menu_item ul li {
  display: flex;
  align-items: left;
  padding: 16px 0px;
}

.sidebar-full .menu_item h2 {
  font-size: 16.15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1.938px;
  text-transform: uppercase;
}
.sidebar-collapsed {
  background: var(
    --main-gradient,
    linear-gradient(225deg, #005eaa 0%, #26418f 100%)
  );
  width: 80px;
}
.sidebar-collapsed .menu_item h2 {
  visibility: hidden;
}
.sidebar-collapsed .menu_item ul li .text {
  visibility: hidden;
}
