@import "../../scss/global.scss";

.cdc-react {
  .sidebar-wrap {
    text-align: left;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .section {
      border-top: 0.1rem solid #1b64ab;
    }

    .menu-item {
      flex-grow: 1;
      padding: 0.7rem 0;
      color: #fff;
    }

    .menu-footer {
      color: #fff;
      margin-top: auto;
      padding: 0.7rem 0;
    }
  }

  .menu-header {
    padding: 0.47rem 0.94rem;
  }

  .menu-header button {
    width: 1.77rem;
    display: flex;
    height: 1.36rem;
    padding: 0.1475rem;
    margin: 0.47rem;
    font-size: 0.59rem;
    justify-content: center;
    align-items: center;
  }

  .sidebar {
    background: linear-gradient(225deg, $main-theme 0%, $primary-indigo 100%);
    width: 12.036rem;
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .chevron-double-left-mobile {
      display: flex;
    }

    .chevron-double-right {
      display: none;
    }

    .chevron-double-left {
      display: none;
    }

    .menu {
      display: none;
    }

    &.sidebar-collapsed {
      width: 4.7rem;
      flex: 0 0;

      .chevron-double-left-mobile {
        display: none;
      }

      .menu {
        display: flex;
      }

      .menu-item,
      .menu-footer {
        display: none;
      }
    }

    // .menu {
    //   display: none;
    // }
  }

  @media (min-width: 600px) {
    .dashboard-icon.icon {
      margin-right: 0.25rem;
    }

    .menu-item,
    .menu-footer {
      display: flex;
      flex-flow: column;
    }

    .chevron-double-left {
      display: flex;
    }

    .chevron-double-right {
      display: none;
    }

    .chevron-double-left-mobile {
      display: none;
    }

    .menu {
      display: none;
    }

    .sidebar {
      &.sidebar-collapsed {
        flex-grow: 1;

        .chevron-double-right {
          display: flex;
        }

        .chevron-double-left {
          display: none;
        }

        .menu {
          display: none;
        }

        .menu-item,
        .menu-footer {
          display: flex;
          flex-flow: column;
        }
      }
    }
  }
}
