.cdc-react {

  .sidebar-wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .section {
      border-top: 0.1rem solid #1b64ab;
    }

    .menu-item {
      flex-grow: 1;
      padding: 1.2rem 0;
      color: #fff;
    }

    .menu-footer {
      color: #fff;
      margin-top: auto;
      padding: 1.2rem 0;
    }
  }

  .menu-header {
    padding: 0.8rem 1.6rem;
  }

  .menu-header button {
    width: 3rem;
    display: flex;
    height: 2.3rem;
    padding: 0.25rem;
    margin: 0.8rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
  }

  .sidebar-full {
    background: linear-gradient(225deg, var(--main-theme) 0%, var(--indigo) 100%);
    width: 20.4rem;
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &.sidebar-collapsed {
      width: 8rem;
    }
  }

  .sidebar-mobile {
    width: 8rem;
    background: linear-gradient(225deg, var(--main-theme) 0%, var(--indigo) 100%);
    flex: 0 0;
    display: flex;
    flex-direction: column;

    .menu-item,
    .menu-footer {
      display: none;
    }

    &.sidebar-collapsed {
      width: 20.4rem;

      .menu-item,
      .menu-footer {
        display: flex;
        flex-flow: column;
      }
    }
  }
}