@use "uswds-core" as *;

.cdc-react {
  .profile-header .logo {
    align-self: stretch;
    fill: #005eaa;
    margin-left: units(0.5);
    max-width: units("mobile");
  }

  .profile-header-logo-wrap {
    display: flex;
    flex-grow: 10;
  }
}
