.cdc-react {
  .profile-header .logo {
    align-self: stretch;
    fill: #005eaa;
    margin-left: 0.38rem;
    max-width: 18.29rem;
  }

  .profile-header-logo-wrap {
    display: flex;
    flex-grow: 10;
  }
}
