@use "../../../scss/global.scss";
@use "uswds-core" as *;

.cdc-react {
  .profile-header {
    .profile-header-menu-item .user-profile:hover {
      background: none;
    }

    .profile-header-menu-item .user-profile {
      flex-grow: 0;
    }

    .profile-header-menu-item.user-profile .user-image {
      align-items: center;
      padding: 0;
    }

    .profile-header-menu-item.user-profile .chevron-down {
      margin-right: units(-0.5);
    }

    .profile-header-menu-item.user-profile .chevron-up {
      margin-right: units(-0.5);
    }
  }
}
