@import "../../../scss/global.scss";

.cdc-react {
  .profile-header {
    .profile-header-menu-item .user-profile:hover {
      background: none;
    }

    .profile-header-menu-item .user-profile {
      flex-grow: 0;
    }

    .profile-header-menu-item.user-profile .user-image {
      align-items: center;
      padding: 0rem;
    }

    .profile-header-menu-item.user-profile .chevron-down {
      margin-right: -0.2rem;
    }

    .profile-header-menu-item.user-profile .chevron-up {
      margin-right: -0.2rem;
    }
  }
}
