.cdc-react .profile-header-popup {
    display: flex;
    width: 24rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.4rem;
    border: 0.1rem solid #E0E0E0;
    background: #FFF;
    box-shadow: 0rem 0rem 1.2rem 0rem rgba(0, 0, 0, 0.10);
}

.cdc-react .profile-header-popup button.profile-header-popup-menu-item {
    flex-direction: row;
    display: flex;
    min-width: 100%;
    min-height: 5rem;
    align-items: center;
    align-self: stretch;
    background: transparent;
    border: none;
}

.cdc-react .profile-header-popup button.profile-header-popup-menu-item:hover {
    background: #e6e6e6;
}

.cdc-react .profile-header-popup button.profile-header-popup-menu-item:last-child {
    border-top: solid 0.1rem #ddd;
}

.cdc-react .profile-header-popup button.profile-header-popup-menu-item svg {
    margin-right: 0.2rem;
    margin-left: 0.8rem;
}

.cdc-react .profile-header-popup-wrap {
    position: absolute;
    top: 6.25rem;
    right: 4.4rem;
}

.cdc-react .notification-count {
    flex-grow: 1;
    justify-content: end;
}

.cdc-react .notification-count text {
    display: flex;
    stroke: #fff;
    font-size: 1rem;
}

.cdc-react .profile-header-popup-menu-item .profile-header-popup-menu-item-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.cdc-react .profile-header-popup-menu-item .profile-header-popup-menu-item-center {
    display: flex;
    justify-content: start;
    flex-grow: 10;
    font-size: 1.325rem;
}

.cdc-react .profile-header-popup-menu-item .profile-header-popup-menu-item-right {
    display: flex;
    margin-left: -3.25rem;
}