@import "colors";
*,
html,
body {
  --main-theme: $main-theme;
  --main-light: $main-theme-light;
  --main-lighter: $main-theme-lighter;
  --indigo: $primary-indigo;
  --heading-xl: 3.1rem;
  font-size: 10px;
  box-sizing: border-box;
  font-family: "Open Sans-Regular", Helvetica;
  letter-spacing: 0.1rem;
  font-weight: 520;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cdc-react {
  &.btn-wrap {
    min-width: 2.58824rem;
    min-height: 2.58824rem;
    width: auto;
    height: auto;
    display: inline-block;
  }
}
