@use "../../../scss/global.scss";

.cdc-react {
  .sidebar {
    li {
      display: flex;
      align-items: center;
    }

    li:hover {
      background-color: #00407a;
    }

    li a {
      text-decoration: none;
      width: 100%;
      display: flex;
      align-items: center;
      color: inherit;
      padding: 0.94rem 1.4rem;
      font-size: 0.7rem;
      cursor: pointer;

      .text {
        margin-left: 0.7rem;
        font-style: normal;
        font-weight: 100;
        font-size: 0.7rem;
      }
    }

    .heading {
      font-size: 0.89rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      /* 1.2rem */
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      padding: 0.47rem 1.475rem;
      color: global.$main-theme-lighter;
    }
  }

  .sidebar-collapsed {
    li {
      justify-content: center;
    }
  }
}
