@use "../../../scss/global.scss";
@use "uswds-core" as *;

.cdc-react {
  .profile-header {
    .profile-header-menu-item {
      font-family: global.$font-family-sans;
      justify-content: end;
      flex-grow: 1;
      border-radius: 0.175rem;
      border: none;
      display: flex;
      padding: units(0.5);
      margin: 0 units(0.5);
      margin-top: units(0.5);
      background: transparent;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .profile-header-menu-item:hover {
      background: #e6e6e6;
    }

    .profile-header-menu-item.hide-on-mobile {
      display: none;
    }

    @media (min-width: units("tablet")) {
      .profile-header-menu-item.hide-on-mobile {
        display: flex;
      }

      .profile-header-menu-item.hide-on-mobile {
        display: flex;
      }
    }
  }
}
