.cdc-react {
  .profile-header {
    .profile-header-menu-item {
      justify-content: end;
      flex-grow: 1;
    }

    .profile-header-menu-item {
      border-radius: 0.175rem;
      border: none;
      display: flex;
      padding: 0.26rem 0.45rem;
      margin: 0 0.26rem;
      margin-top: 0.1rem;
      background: transparent;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .profile-header-menu-item:hover {
      background: #e6e6e6;
    }

    .profile-header-menu-item.hide-on-mobile {
      display: none;
    }

    @media (min-width: 600px) {
      .profile-header-menu-item.hide-on-mobile {
        display: flex;
      }

      .profile-header-menu-item.hide-on-mobile {
        display: flex;
      }
    }
  }
}
