.icon-story {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  font-size: small;
}

.cdc-react.table .checkbox-content {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
